.break-tab {
    width: 3px;
    height: 60px;
    vertical-align: middle;
}

.carousel-bgr {
    top: 115px;
    width: 100%;
    height: 335px;
    background-color: #333333;
    position: absolute;
}

.carousel {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 335px;
    width: 942px;

}

.jcarousel {
    position: relative;
    overflow: hidden;
    height: 335px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style-type: none;
}

.jcarousel li {
    float: left;
}

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}
p {
    margin: 0px 0 4px 0;
}
.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    width: 15px;
    height: 15px;
    background-image: url(images/carousel/white_dot.png);
    color: rgba(78, 68, 60, 0);
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    margin: 2px 4px 2px 3px;
}

.jcarousel-pagination a:focus {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    background-image: url(images/carousel/blue_dot.png);
}

.carousel-pag {
    background-image: url(images/carousel/white_dot.png);
}
.carousel-sh  {
    margin-bottom: 12px;
}
.container {
    width: 973px;
    position: relative;
}

.navbar-header {

}

.navbar-brand {
    font-size: 13.74px;
    color: gray;
}

.brand {
    margin-left: 80px;
    margin-top: -65px;
}

.brand-title {
    font-family: GillSansMTBold;
    font-weight: bold;
    margin-left: 79px;
}

.navbar-default .navbar-nav > li > a > div > div {
    font-family: GeorgiaBold;
    font-size: 15px;
    font-weight: bold;
}

.navbar-nav > li > a > div > div.tab-title {
    font-family: TahomaRegular;
    font-size: 11px;
    font-style: regular;
    color: lightgray;
    font-weight: lighter;
    margin: -5px 0px 0px 0px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 33px 0px 0px 1px;
}

.navbar-default {
    height: 110px;
    background: white;
    border-color: white;
}

.tab {
    margin: -35px 10px 10px 10px;
}

.newsfeed {

}

.feed-header {
    margin-top: -4px;
    margin-bottom: -11px;
    font-family: GeorgiaBold;
    font-size: 29px;
    font-weight: bold;
    text-align: center;
}

.block {
    width: 301px;
    margin-bottom: 15px;
    padding: 0px;
}

.infoBlocks > .middle-b {
    margin-left: 19px;
    margin-right: 21px;
}

.text-area {
    font-size: 13px;
    font-family: "Helvetica";
    color: rgb(62, 62, 62);
    line-height: 1.462;
    text-align: left;
    margin: 223px 0px 14px 7px;
}

.infoBlocks > .block > .title {
    margin-left: 4px;
    font-size: 23px;
    font-family: "Georgia";
    color: rgb(17, 113, 158);
    line-height: 1.5;
    text-align: left;
}

.subtitle {
    font-size: 12px;
    font-family: "Helvetica";
    color: rgb(173, 173, 173);
    line-height: 1.2;
    text-align: left;
    margin-top: -4px;
    margin-left: 4px;
    margin-bottom: 13px;
}

.img-frame {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(225, 225, 225);
    border-radius: 4px;
    background-color: rgb(243, 243, 243);
    position: absolute;
    margin-top: 5px;
    width: 301px;
    height: 194px;
}

.shudow-img-news {
    background-image: url("images/shudow_img_news.png");
    position: absolute;
    width: 301px;
    height: 201px;
}

.img {
    margin: 7px 0px 0px 7px;
}

.break {
    margin-top: 20px;
    margin-bottom: 21px;
    margin-left: 7px;
}

.body {
    margin: 25px;
}

.contactBlocks > .block > .title {
    font-size: 18px;
    margin-left: 1px;
    padding-bottom: 6px;
    font-size: 18px;
    font-family: "Georgia";
    color: rgb(68, 68, 68);
    line-height: 0.778;
    text-align: left;
}

.contactBlocks > .block > .subtitle {
    font-size: 12px;
    font-family: "Helvetica";
    color: rgb(68, 68, 68);
    line-height: 1.167;
    text-align: left;
    margin-bottom: 9px;
}

.contactBlocks {
    margin-top: 15px;
    margin-left: 4px;
}

.text-break {
    font-size: 12px;
    font-family: "Verdana";
    color: rgb(211, 211, 211);
    line-height: 1.167;
    text-align: left;
    margin-top: -4px;
    margin-bottom: 9px;
}

.social-img-block {
    margin-left: 4px;
}

.img-s {
    margin: -3px 0px 0px 0px;
}

.n-title {
    font-size: 18px;
    font-family: "Gill Sans MT";
    color: rgb(68, 68, 68);
    font-weight: bold;
    line-height: 0.778;
    text-align: left;
    margin-top: 37px;
    margin-left: 2px;
    margin-bottom: 6px;
}

.contactBlocks > .middle-b {
    margin-left: 14px;
    margin-right: 21px;
    margin-top: 0;
    position: relative;
}

input {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(207, 207, 207);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    width: 296px;
    height: 33px;
    margin: 3px 0 7px 3px;
    padding-left: 14px;
    font-size: 11px;
    font-family: "Verdana";
    color: rgb(212, 212, 212);
    line-height: 1.4;
    text-align: left;
}

textarea {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(207, 207, 207);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    width: 296px;
    height: 136px;
    margin: 3px 0 3px 3px;
    padding-left: 14px;
    font-size: 11px;
    font-family: "Verdana";
    color: rgb(212, 212, 212);
    line-height: 1.4;
    text-align: left;
    vertical-align: top;
}

.contactBlocks > .middle-b > input {
    margin-top: 0px;
    margin-bottom: 16px;
}

.contactBlocks > .block > .img-frame {
    width: 60px;
    height: 57px;
    margin-top: 0px;
}

.contactBlocks > .block > .img-frame > .img {
    margin: 4px 5px;
}

.contactBlocks > .block > .news-block {
    margin-left: 67px;
}

.btn {
    width: 164px;
    height: 30px;
    margin-top: 4px;
    margin-left: 3px;
    font-size: 12px;
    font-family: "Helvetica";
    text-align: left;
}

.white-btn {
    background: linear-gradient(to right, #E9E9E9, #FAFAFA, #FAFAFA, #E9E9E9, #E9E9E9, #E9E9E9);
    color: rgb(1, 105, 153);
    border: 1px solid #F3F3F3;
    box-shadow: 0px 0px 0px 1px #D9D9D9;
}

.blue-btn {
    background: linear-gradient(to right, #005E93, #007ABD, #0C81BD, #007ABD, #005E93, #005E93);
    color: white;
    border: 1px solid #1E90C2;
    box-shadow: 0px 0px 0px 1px #004680;
   }

button > img {
    float: right;
    margin-top: 4px;
}

.footer {
    bottom: 0px;
    width: 100%;
    border-top: 10px solid #4C4C4C;
    background-color:  #333333;
    height: 188px;
}

/*@font-face {
    font-family: "Helvetica"; 
    src: url(fonts/helvetica/helvetica.ttf); 
}*/

@font-face {
    font-family: GillSansMTBold;
    src: url(fonts/ufonts.com_gill-sans-mt-bold.ttf);
}

@font-face {
    font-family: TahomaRegular;
    src: url(fonts/tahoma-regular.ttf);
}